html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  color: #432000;
  user-select: none;
}

h1,
h2,
h3,
h4 p {
  margin: 0;
  padding: 0;
}

#signature{
  position: absolute;
  right: 0;
  background-color: #03308b;
}

#signature a {
  display: block;
  padding: 6px;
  color:#f0b985;
  text-decoration: none;
  font-weight: bold;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#locations {
  width: 100%;
  height: 600px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin: 10px 0;
  border-bottom: 6px solid #ac485a;
  text-align: center;
}

fieldset {
  background-color: #eeeeee;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  color: #432000;
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

button:hover {
  background-color: #432000;
  cursor: pointer;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #46A8F5; /* Red */
  color: white;
  border-radius: 8px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

#latestLocations h3{
  display: block;
  padding: 10px;
  background-color: #dce1eb;
  border-radius: 8px;
}

#latestLocations h3:hover{
  cursor: pointer;
  background-color: #cedcf9;
}

.hide {
  display: none;
}

.show {
  display: block;
}